<!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 	{% load static %}
 	<link rel="stylesheet" type="text/css" href="{% static 'generate_list/home.css' %}">
 </head>
 <body><center>
 	<!-- <h2>GENERATE A LIST OF THINGS TO TAKE WHEN YOU LEAVE THE HOUSE:</h2> -->
 	<!-- <br>
 	<br> -->

 	<h2>Step 1 - Set the cockpit switches to match your day.</h2>

 		<img src="{% static 'generate_list/switch.jpg' %}" width=450px height=300px>
<br>
 		

 	<h2>Step 2 - Push the red button.</h2>
 	
 		<img src="{% static 'generate_list/red_button.png' %}" width = "350" height="350">
 		<br>
 		<br>
 		

 		</center>
<div style="text-align: right"><img src="{% static 'generate_list/logo.jpg' %}" width="150" height="65.25" /></div>
 	

 </body>
 </html> 